/* Gemensam kod */

body{
    margin: 0px;
    background-color: #efefef;
}   

p{
    font-family: Poppins;
}

/* Gemensam header kod */

h1{
    font-size: 1.5rem;
    font-family: Amatic SC;
    left: 5px;
    position: absolute;
}

h1 .kompassen {
    color: #5C5C5C  ;
}

nav {
    background-color: #AAAE7F;
    padding-top: 50px;
    padding: 20px;
    gap: 20px;
  }

nav a{
    line-height: 3;
    text-decoration: none;
    font-family: Poppins;
    font-size: large;
    display: flex;
    align-items: center;
    margin: 15px;
    color: #333333;
  }

nav a.active{
    color: black ;
    font-weight: bold;
}

nav a:hover{
    color: black ;
}

nav a i {
    margin-right: 10px;
}

.container {
    display: inline-block;
    cursor: pointer;
    right: 10px;
    position: absolute;
    padding: 10px;
    z-index: 10;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;  
  }
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu{
    height: 100vh;
    width: 40vw;
    background: #AAAE7F;
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s ease-in;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 8;
    
}

.menu.show {
    right: 0; /* Skjut in menyn */
}
.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s 0.4s; 
}

.fade-layer.visible {
    visibility: visible;  
    opacity: 1;  
    transition: opacity 0.4s ease;  
}


#img-logga {
    width: 20%;
}


/* Start på fösta sidan dator */



/* Start på fösta sidan mobil */

@media screen and (max-width: 600px) {
#wrapper_p1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh auto 25vh 20vh auto 30vh 10vh;
    grid-template-areas: 
    'hd hd hd'
    'b1 b1 b1'
    's1 s1 s1'
    '.. .. ..'
    'b2 b2 b2'
    's2 s2 ..'
    'ft ft ft';
    margin: 0 0px;
}

.parabel{

}

header {
    grid-area: hd;
    position: sticky;
    z-index: 2;
    top: 0;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#AAAE7F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

footer {
    grid-area: ft;
    background-color: #AAAE7F;
}

#sc1 {
    grid-area: s1;
    background-color: #D0D6B3;
}

#sc2 {
    grid-area: s2;
    background-color: #efefef;
    padding-left: 20px;
}

#img1 {
    grid-area: b1;
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
#img1 img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(80%);
}

#img2 {
    grid-area: b2;
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
#img2 img {
    width: 100%;
    height: auto;   
}
}


/* Start på andra sidan mobil */

@media screen and (max-width: 600px) {
    #wrapper_p2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh auto 15vh 20vh auto 30vh 10vh;
        grid-template-areas: 
        'hd hd hd'
        'b1 b1 b1'
        's1 s1 s1'
        '.. .. ..'
        'b2 b2 b2'
        's2 s2 ..'
        'ft ft ft';
        margin: 0 0px;
    }


}




/* Start på sista sidan mobil */

@media screen and (max-width: 600px) {
    #wrapper_p3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 100vh 10vh;
        grid-template-areas: 
        'hd hd hd'
        's1 s1 s1'
        'ft ft ft';
        margin: 0 0px;
    }
    
#sc1_f {
    grid-area: s1;
    background-color: #D0D6B3;
    padding: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

}