/* Gemensam kod */

body{
    margin: 0px;
    background-color: #efefef;
}   

p{
    font-family: Poppins;
}

h2 {
    font-family: Poppins;
}

ul {
    font-family: Poppins;
}

/* Gemensam header kod */

h1{
    font-size: 1.5rem;
    font-family: Amatic SC;
    left: 5px;
    position: absolute;
}

h1 .kompassen {
    color: #5C5C5C  ;
    font-weight: bold;
}

nav {
    background-color: #AAAE7F;
    padding-top: 50px;
    padding: 20px;
    gap: 20px;
  }

nav a{
    line-height: 3;
    text-decoration: none;
    font-family: Poppins;
    font-size: large;
    display: flex;
    align-items: center;
    margin: 15px;
    color: #333333;
  }

nav a.active{
    color: black ;
    font-weight: bold;
}

nav a:hover{
    color: black ;
}

nav a i {
    margin-right: 10px;
}

.container {
    display: inline-block;
    cursor: pointer;
    right: 10px;
    position: absolute;
    padding: 10px;
    z-index: 10;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;  
    border-radius: 20px; 
  }
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu{
    height: 100vh;
    width: 40vw;
    background: #AAAE7F;
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s ease-in;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 8;
    
}

.menu.show {
    right: 0; /* Skjut in menyn */
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0s 0.4s; 
}

.fade-layer.visible {
    visibility: visible;  
    opacity: 1;  
    transition: opacity 0.4s ease;  
}


#img-logga {
    width: 20%;
}


/* Start på fösta sidan dator */

/* Start på andra sidan dator */

/* Start på tredje sidan dator */

/* Start på fösta sidan mobil */

@media screen and (max-width: 500px) {
    #wrapper_p1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh auto 35vh auto 45vh 10vh;
        grid-template-areas: 
        'hd hd hd'
        'b1 b1 b1'
        's1 s1 s1'
        'b2 b2 b2'
        's2 s2 s2'
        'ft ft ft';
        margin: 0 0px;
    }

    header {
        grid-area: hd;
        position: sticky;
        z-index: 2;
        top: 0;
        gap: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#8F926E;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    footer {
        grid-area: ft;
        background-color: #AAAE7F;
        line-height: 0;
        font-size: smaller;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-top: #333 solid 1px;
    }

    #sc1 {
        grid-area: s1;
        margin: 10px;
    }

    #sc1 p{
        margin-top: -15px;
    }

    #sc2 {
        grid-area: s2;
        margin: 15px;
    }

    #sc2 p{
        margin-top: -15px;
    }

    #img1 {
        grid-area: b1;
        position: relative;
        overflow: hidden;
    }
  
    #img1 img {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #img2 {
        padding: 20px;
        grid-area: b2;
        overflow: hidden;
        box-sizing: border-box;
    }

  
#img2 img {
    border-radius: 10px;   
    width: 100%;
}

    /* Start på andra sidan mobil */

    #wrapper_p2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh auto 75vh auto 75vh auto 75vh auto 75vh 10vh;
        grid-template-areas: 
        'hd hd hd'
        'c1 c1 c1'
        'u1 u1 u1'
        'c2 c2 c2'
        'u2 u2 u2'
        'c3 c3 c3'
        'u3 u3 u3'
        'c4 c4 c4'
        'u4 u4 u4'
        'ft ft ft';
        margin: 0 0px;
    }

    #sc1_u {
        grid-area: u1;
        
        margin: 15px;
    }

    #sc2_u {
        grid-area: u2;
        
        margin: 15px;
    }

    #sc3_u {
        grid-area: u3;
        
        margin: 15px;
    }

    #sc4_u {
        grid-area: u4;
        
        margin: 15px;
    }

    #slideshow1{
        grid-area: c1; 
    }

    #slideshow1 .slideshow_1 img{
        width: 100%;
        height: auto;
    }

    #slideshow2{
        grid-area: c2;
    }

    #slideshow3{
        grid-area: c3;
    }

    #slideshow4{
        grid-area: c4;
    }

    /* Start på tredje sidan mobil */

    #wrapper_p3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 35vh 100vh 10vh;
        grid-template-areas: 
        'hd hd hd'
        'sf sf sf'
        'f1 f1 f1'
        'ft ft ft';
        margin: 0 0px;
    }
    
    #sc1_f {
        grid-area: sf;
        margin-top: 30px;
        margin: 15px;
    }

    #sc2_f {
        grid-area: f1;
        margin-top: 30px;
        margin: 15px;
        font-family: Poppins;
    }

    #names  {
        display: flex;
        align-items: center;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid;
        border-radius: 20px; 
        box-sizing: border-box;
        font-family: Poppins;
        background-color: white;
    }

    form div{
        padding-bottom: 10px ;
    }

    textarea{
        border-radius: 10px; 
        width: 100%;
        padding: 10px;
        font-family: Poppins;
        box-sizing: border-box;
        height: 50vh;
        border: 1px solid;
    }

    #namn{
        margin-right: 5px;
    }

    #efternamn{
        margin-left: 5px;
    }

    #telefonnummer{
        margin-bottom: 10px;
    }
    button {
        background-color: #4CAF50; 
        color: white; 
        padding: 12px 20px; 
        border: none;
        border-radius: 20px; 
        font-size: 15px;
        font-weight: bold;
        width: 200px;
        display: block;
        margin: 10px auto; 
    }

}